.form-group {
  input {
    width: 30rem;
    font-size: 16px;
  }
}

.form-group + .form-group {
  margin-top: 1rem;
} 

.form-group + button {
  margin-top: 2rem;
}


.btn-submit-login {
  width: 30rem;
  font-size: 16px;
}

.form-text-message {
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
  color: #ffc800;
  text-decoration-color: red;
  margin-top: 2rem;
}

