
  .form-group + .form-group {
    margin-top: 1rem;
  } 

  .form-group + button {
    margin-top: 2rem;
  }


.btn-submit-register {
  width: 100%!important;
  margin-bottom: 2rem;
}

.form-text-message {
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
  color: #ffc800;
  text-decoration-color: red;
  margin-top: 2rem;
}
.toastBody {
  width: 800rem!important;
}
