#Administrator {
  display: flex;
  font-size: 16px;
  color: white;
  background: linear-gradient(179deg, #176eb5, #d545d7);
  text-shadow: 1px 0px 2px #8dc4f0;
}

.body_container {
  flex: 1;
  width: 100%;
  margin: 1rem 1rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.562);
}